<header class="navbar navbar-fixed-top navbar-dark">
    <div class="container">
    <%= link_to "MEET", id: "logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <% if true %>
                <li><%= link_to "Create Posts" %></li>
                <li><%= link_to "Logout" %></li>
            <% else %>
                <li><%= link_to "Register" %></li>
                <li><%= link_to "Log in" %></li>
            <% end %>
        </ul>
    </nav>
    </div>
</header>