<header class="">
    <nav class="navbar navbar-dark bg-dark">
        <%= link_to "MEET", id: "logo", :class=>"navbar-brand" %>
        <ul class="nav ml-5 mt-2 mt-lg-0 float-right">
            <% if user_signed_in? %>
                <li class = "nav-item ml-5"><%= link_to "Create Posts", :class=>"nav-link"  %></li>
                <li class = "nav-item ml-5"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class=>"nav-link" %></li>
            <% else %>
                <li class = "nav-item ml-5"><%= link_to "Register", :class=>"nav-link" %></li>
                <li class = "nav-item ml-5"><%= link_to "Log in", :class=>"nav-link" %></li>
            <% end %>    
        </ul>
    </nav>
</header>